C:\Users\venka\Projects\Coding-Challenges\Coding Challenges\Leetcode Solutions\LC_sql_challenges.sql
C:\Users\venka\Projects\ETL_Pipeline\employees.csv
C:\Users\venka\Projects\Python_Data_Analysis
C:\Users\venka\Projects\sql_practice\README.md
C:\Users\venka\Projects\Coding-Challenges
C:\Users\venka\Projects\daily-updates
/daily-updates/